body {
    margin: 0;
    padding: 0;
  }
  #map {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    bottom: 2px solid #000;
  }

  /* Optional: Make the map look a bit nicer on smaller screens */
@media (max-width: 768px) {
    #map {
      width: 100%;        /* Full width on smaller screens */
      height: 75%;      /* Smaller height on mobile/tablet */
    }
  }
  